:root{
    --primary-color: #3347B0;
    --secondary-color: #FFFFFF;
    --tertiary-color: #E5B657;
    --quaternary-color: #C11010;
    --primary-font: 'Roboto';
    --secondary-font: 'Poppins';
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


header{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: space-between;
    font-family: var(--primary-font);
    padding: 0 96px;
}

.logo{
    display: flex;
    gap: 11px;
}

.img-logo{
    height: 75px;
    width: 60px;
}
.container-logo{
    display: flex;
    gap: 12px;
}
.title-logo{
    width: 75px;
    font-size: 1.6rem;
    color: var(--secondary-color);
    font-weight: 700;
}
.container-close{
    display: flex;
    gap: 12px;
}
.text-close{
    font-size: 2.2rem;
    color: var(--secondary-color);
    font-weight: 500;
}

.container-close i {
    font-size: 2.2rem;
    color: var(--secondary-color);
}

main{
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container-aluno{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.aluno-info{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 1.125rem;
    line-height: 27px;
    font-weight: 500;
    font-family: var(--secondary-font);
}
.aluno-info img{
    height: auto;
    width: 20vw;
}

.aluno-notas{
    height: 500px;
    width: 500px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}
.aluno-materia{
    height: 50vh;
}

.container-status{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 60px;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    width: 500px;
    height: 500px;
    color: var(--primary-color);
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container-notas{
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-weight: 700;
    font-size: 1.2rem;
}
.notas-azul{
    color: var(--primary-color);
}
.notas-vermelho{
    color: var(--quaternary-color);
}
.notas-amarelo{
    color: var(--tertiary-color);
}
.container-progresso{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.container-barra{
    display: flex;
    align-items: center;
    width: 16px;
    height: 300px;
    
    flex-direction: column-reverse;
}
.container-azul{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.container-vermelho{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.container-amarelo{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}



.barra-azul{
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 0px 24px #3347B0;
    background-color: var(--primary-color);
    width: 100%;
    height: 246px;
    display: grid;
    place-self: end;
    place-content: end;
}
.barra-vermelho{
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 0px 24px #C11010;
    background-color: var(--quaternary-color);
    width: 100%;
    height: 246px;
}
.barra-amarelo{
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 0px 24px #E5B657;
    background-color: var(--tertiary-color);
    width: 100%;
    height: 246px;
}
.container-disciplina{
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: 700;
}





/* FOOTER GERAL*/
footer{
    display: flex;
    height: 140px;
    width: 100%;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: space-between;
    padding: 0 96px;
}
.container-contato{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.container-icon{
    display: flex;
    gap: 24px;
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-weight: 400;
    align-items: center;
}
.container-icon i{
    font-size: 1.6rem;
}
.copyright{
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--secondary-color);
    text-align: center;
}
.container-social{
    display: flex;
    gap: 20px;
    color: var(--secondary-color);
}
.container-icon-social{
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.container-icon-social:hover{
    background-color: #FFFFFF;
    color: #3347B0;
}
.container-icon-social i{
    font-size: 24px;
}

/* MOBILE */
@media (max-width:640px){
    header{
        justify-content: space-around;
        padding: 16px 0;
    }

    main{
        display: flex;
        height: 125vh;
        width: 100%;
        align-items: center;
        gap: 32px;
        padding: 32px;
    }

    .aluno-info{
        width: 100%;
        height: 50vh;
    }

    .aluno-info img{
        width: 50%;
    }

    .container-aluno{
        width: 100vw;
        flex-direction: column;
        gap: 35px;
    }

    .container-status{
        width: 100%;
        height: 60vh;
    }

    .container-progresso{
        gap: 20px;
    }
    
    footer{
        flex-direction: column;
        height: auto;
        padding: 32px;
        gap: 32px;
    }
    .copyright{
        display: none;
    }
    .container-social{
        flex-direction: row;
    }
    
    .img-aluno{
        display: none;
    }
}